@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wdth,wght@8..144,75,100..1000&display=swap');

body {
    width: 100%;
    margin: auto;
    background-color: #FFF;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.container, .sidebar {
    padding: 50px 50px;
}

.sidebar {
    height: 100%;
    padding-bottom: 0;
    border: none;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    background-color: #C9C9C9;
}

.sidebar h1 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 600;
    color: #3F3E3E;
    line-height: 1;
    padding-left: 10px;
}

.sidebar .sidebar-list {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    height: 80vh;
}

.sidebar .sidebar-list li:last-child {
    margin-top: auto;
}

.sidebar .sidebar-list li {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 3px 10px;
    border-radius: 10px;
    width: fit-content;
}

.sidebar .sidebar-list i {
    color: #626060;
}

.sidebar .sidebar-list a {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: #626060;
    text-decoration: none;
}

.sidebar .sidebar-list li:hover a, .sidebar .sidebar-list li:hover i {
    color: #262626;
    transition: color 1s;
    cursor: pointer;
}

.sidebar .sidebar-list li a:active, .sidebar .sidebar-list li:has(a:active) i {
    color: #262626;
}

.sidebar .sidebar-list li:has(a:active) {
    background-color: #E7E7E7;
    width: 100%;
}

.navigation {
    width: 100%;
     display: flex;
     gap: 15px;
     align-items: center;
}

.navigation .new-task {
    margin-left: auto;
    border: none;
    border-radius: 30px;
    width: 115px;
    height: 35px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    background-color: #262626;
    color: #E7E7E7;
}

.navigation .new-task:hover {
    background-color: #3F3E3E;
    transition: all 1s;
    cursor: pointer;
}

.navigation .profile {
   border: none;
   padding: 0;
   width: 35px;
   height: 35px;
   background-color: transparent;
}

.navigation .profile:hover {
    cursor: pointer;
}

.navigation .profile img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50px;
}

.content {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
}
.content .task-all h3, .content .task-in-progress h3, .content .task-done h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 28px;
    color: #AAAAAA;
    text-transform: uppercase;
}

.content .task-all, .content .task-in-progress, .content .task-done {
    padding: 15px 30px;
    width: 450px;
    max-height: 350px;
    height: 100%;
    background-color: #3F3E3E;
    border: none;
    border-radius: 45px;
}

.content .task-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    padding: 0;
}

li.task-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 7px;
}

.content .task-item .task-title {
    font-family: 'Monsterrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #C9C9C9;
    background-color: transparent;
    border: none;
}

.content .task-list .edit-button {
    background-color: #C9C9C9;
    border: none;
    border-radius: 10px;
    padding: 4px 8px;
    font-family: 'Monsterrat', sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    color: #262626;
}

.content .task-list .status-dropdown {
    background-color: #C9C9C9;
    border: none;
    border-radius: 10px;
    padding: 2px 8px;
    font-family: 'Monsterrat', sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    color: #262626;
    outline: none;
}

.content .task-list .edit-button:hover, .content .task-list .status-dropdown:hover {
    cursor: pointer;
}

.all-list {
    font-family: 'Monsterrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #C9C9C9;
    background-color: transparent;
    border: none;
}

.content .taskt-section-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.content .taskt-section-top a {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #C9C9C9;
    text-decoration: none;
}

.content .taskt-section-top a:hover {
    color: #AAAAAA;
    transition: color 1s;
}

.wrapper-task {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper-task.hidden {
    display: none;
}

.wrapper-task .new-task {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #C9C9C9;
    padding: 30px 25px;
    border-radius: 25px;
    width: 300px;
}

.close-btn {
    margin-left: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #3F3E3E;
}

.close-btn:hover {
    cursor: pointer;
}

.wrapper-task .new-task .form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100%;
}

.wrapper-task .new-task .form input {
    border: 1px solid #fff;
    background-color: transparent;
    border-radius: 10px;
    padding: 8px 10px;
    outline: none;
}

.input-desc {
    height: 40px;
}

.new-task-btns {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
}

.new-task-btns button:hover {
    cursor: pointer;
}

.form .add-btn {
    background-color: #262626;
    border: none;
    border-radius: 10px;
    color: #E7E7E7;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    font-weight: 500;
    padding: 5px 15px;
}

.form .delete-btn {
    background-color: #8B0000;
    border: none;
    border-radius: 10px;
    color: #E7E7E7;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    font-weight: 500;
    padding: 5px 15px;
}

.task-editor {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #C9C9C9;
    padding: 30px 25px;
    border-radius: 25px;
    width: 300px;
}

.task-editor .form {
    display: grid;
    gap: 30px;
}

.task-editor .form input {
    border: 1px solid #fff;
    background-color: transparent;
    border-radius: 10px;
    padding: 8px 10px;
    outline: none;
}


/*Register page style*/

.nav {
    display: flex;
    background-color: #212121;
    padding: 20px 0;
    margin-bottom: 30px;
    justify-content: center;
}

.nav_logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: #C9C9C9;
    text-decoration: none;
    text-transform: uppercase;
}

form h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

.form-container {
    display: grid;
    justify-content: center;
}

.hidden-form {
    display: none;
}

form .input {
    height: 100%;
    width: 250px;
    border: none;
    outline: none;
    padding: 0 30px;
    font-size: 16px;
    color: #333;
    transition: all 0.2s ease;
    border-bottom: 1.5px solid #aaaaaa;
    display: flex;
    gap: 10px;
    padding: 15px 0;
}

form input {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    border: none;
    width: 100%;
    outline: 0;
}

.option-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.option-field .checkbox {
    margin: 15px 0;
    display: grid;
    row-gap: 15px;
}

.option-field .checkbox {
    display: flex;
    gap: 5px;
    font-family: 'Montserrat', sans-serif;
    color: #0b0217;
    font-size: 12px;
    font-weight: 500;
}

.option-field .checkbox input {
    width: fit-content;
    margin: 0;
}

.forgot-password, .signin-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #0b0217;
    text-decoration: none;
}

.signin-text a {
    font-weight: 600;
    text-decoration: none;
}

.login-button, .signin-button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    background-color: #212121;
    color: #fff;
    width: 100%;
    border-radius: 10px;
    border: none;
    padding: 10px 0;
}

.signin-button {
    margin-top: 20px;
}

.uil-eye, .uil-eye-slash {
    font-size: 20px;
}

.uil-eye:hover, .uil-eye-slash:hover {
    cursor: pointer;
}